*.root
*.h5
#data/
allaltCrabCfgs/*.pyc
allaltCrabCfgs/crab_clusteringAnalyzer*.py
allAltCrabCfgs/crab_projects/
allCrabCfgs/
allCfgs/
btagging/cfgs
crab_projects/
jsonpog-integration/
lumimasks/
*.log
*.pyc
*.txt
*.json
*.pkl
*.tar
*.tar.gz
*.gz
*cfg.py
calcXS/
LHEWeightsReader/
crab_projects/
