allAltCrabCfgs/signalCfgs/*.py
postprocess/plots/*
allAltCrabCfgs/signalCfgs/*.pyc
allAltCrabCfgs/crab_projects*
postprocess/pdf
*.pdf
*.png
*.root
*.h5
data/**/*
AN_data/**/*
allaltCrabCfgs/*.pyc
allAltCrabCfgs/crab_clusteringAnalyzer*cfg.py
allAltCrabCfgs/crab_projects/
#allCrabCfgs/
#allCfgs/
btagging/cfgs/*cfg.py
btagging/cfgs/crab/*cfg.py
btagging/cfgs/*.sh
btagging/cfgs/crab/*.sh
allAltCrabCfgs/*.txt
crab_projects/
jsonpog-integration/
*.log
*.pyc
*.txt
*.json
*.pkl
*.tar
allAltCrabCfgs/**/*
*.tar.gz
*.gz
*cfg.py
combinedROOT/*.txt
calcXS/
LHEWeightsReader/
crab_projects/
allAltCrabCfgs/*cfg.py
allAltCrabCfgs/*cfg.pyc
allCfgs/*cfg.py
allAltCrabCfgs/crab_projects_sideband/
allCfgs/*cfg.pyc
allCfgs/signalCfgs/*cfg.py
allCfgs/signalCfgs/*cfg.pyc
allAltCrabCfgs/*.sh
allAltCrabCfgs/signalCfgs/*.sh
btagging/cfgs/crab/*.sh
utils/
allAltCrabCfgs/signalCfgs/crab_clusteringAnalyzer*
utils/calcXS/
utils/LHEWeightsReader/
utils/jsonpog-integration/
utils/JEC_uncertainty_sources/
